<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  </head>
  <body>
    <h1>
        <div class="container my-4">
        <form action="/booking" method="POST">
  <div class="row mb-3">
    <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" id="inputEmail3" name = "email" required>
    </div>
  </div>
  <div class="row mb-3">
        <label for="inputTickets" class="col-sm-2 col-form-label">Number of Tickets</label>
    <div class="col-sm-10">
        <input type="number" class="form-control" id="inputTickets" min="1" max="4" name = "numTickets" required>
    </div>
  </div>


  

  <div class="row mb-3">
    <label class="col-sm-2 col-form-label">Favourite Team</label>
    <select class="form-select" aria-label="Default select example" onchange="teamSelected(this.value)" name = "team">
        <option value="" selected>Open this select menu</option>
        <option value="Avengers">Avengers</option>
        <option value="JLA">Justice League</option>
    </select> 
</div>
<div class="row mb-3">
    <label class="col-sm-2 col-form-label">Favourite Hero</label>
    <select class="form-select" aria-label="Default select example" id="superhero" name = "superhero" disabled>
    </select>
</div>

<script>
  const avengers = ['Iron Man', 'Captain America', 'Thor', 'Hulk', 'Black Widow', 'Hawkeye'];
  const justiceLeague = ['Superman', 'Batman', 'Wonder Woman', 'Flash', 'Aquaman', 'Cyborg'];

  function teamSelected(team) {
    var superheroElem = document.getElementById("superhero");
    superheroElem.options.length = 0;

    if (team === "Avengers") {
      for (const hero of avengers) {
        const option = document.createElement("option");
        option.text = hero;
        option.value = hero;
        superheroElem.add(option);
      }
      superheroElem.disabled = false;
    } else if (team === "JLA") {
      for (const hero of justiceLeague) {
        const option = document.createElement("option");
        option.text = hero;
        option.value = hero;
        superheroElem.add(option);
      }
      superheroElem.disabled = false;
    } else {
      superheroElem.disabled = true;
    }
  }
</script>



  <fieldset class="row mb-3">
    <legend class="col-form-label col-sm-2 pt-0">Payment Method</legend>
    <div class="col-sm-10">
        <div class="form-check">
            <input class="form-check-input" type="radio" name="payment" id="payment1" value="Credit Card"
                checked>
            <label class="form-check-label" for="payment1">
                Pay with Credit Card
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="payment" id="payment2" value="Paypal">
            <label class="form-check-label" for="payment2">
                Pay with Paypal
            </label>
        </div>
        <div class="form-check disabled">
            <input class="form-check-input" type="radio" name="payment" id="payment3" value="Octopus"
                disabled>
            <label class="form-check-label" for="payment3">
                Pay with Octopus
            </label>
        </div>
    </div>
</fieldset>
  <div class="row mb-3">
</div>
        <div class="row mb-3">
          <div class="col-sm-10 offset-sm-2">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="gridCheck1" name = "terms">
              <label class="form-check-label" for="gridCheck1">Agree to terms and conditions</label>
            </div>
          </div>
        </div>

    <button type="submit" class="btn btn-primary">Buy Tickets</button></form>
        </div>  
  </h1>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
  </body>
</html>